*{margin:0;padding:0;margin:auto;}
 .row-tp{margin-top:20px;}
 
 
 
 @media (max-width:576px) {
  .bannero{
   
	margin-top:80px;
	
  }
}






 @media (max-width:576px) {
  .bannerx{
  font-size:25px;
margin-bottom:10px;


  }
  
 
}




.bt{height:100px;background-color:#007bff;margin-top:20px;}



.item{width:100%;position:relative;height:100%;overflow:hidden;border-radius:50%;}

.item img{

width:100%;height:100%;transition:all 2s;}




.text{color:white;position:absolute;top:50%;
left:50%;transform:translate(-50%,-50%);
font-size:20px;
}
.overlap{height:100%;width:100%;background-color:rgba(0,0,0,0.5);position:absolute;transition:all 1s ;top:100%;left:0;}

 .item:hover .overlap{top:0px;}



.hovr{width:100%;position:relative;height:100%;overflow:hidden;}

.hovr img{

width:100%;height:100%;transition:all 2s;}


.text{color:white;position:absolute;top:50%;
left:50%;transform:translate(-50%,-50%);
font-size:20px;
}
.overlap{height:100%;width:100%;background-color:rgba(0,0,0,0.5);position:absolute;transition:all 1s ;top:100%;left:0;}

 .hovr:hover .overlap{top:0px;}

.bttn{text-align:center;}






.box1{width:400px;height:400px;position:relative;overflow:hidden;border-radius:50%;}

.box1 img{width:400px;height:400px;}
.overlap3{width:100%;height:100%;position:absolute;left:100%;top:0;bottom:0;background-color:rgba(0,0,0,0.5);transition:all 1s;}
.box1:hover .overlap3{left:0px;}




@media (max-width: 576px) {
 h1{font-size:30px;
 
  }
}


@media (max-width: 576px) {
 h3{font-size:25px;
  }
}



.item2{max-width:100%;overflow:hidden;}

.item2 img{

	transition: 2s all;
}

.item2 img:hover{

     transform: scale(1.2);background-color:rgba(0,0,0,0.5);
}


.top{margin-bottom:10px;}
h6:hover{color:red;}

h1{font-family: 'Francois One', sans-serif;}
 h2{font-family: 'Francois One', sans-serif;} 
  h3{font-family: 'Francois One', sans-serif;} 

h4{font-family: 'Francois One', sans-serif;} 




.hdr{color:white;margin-top:150px;margin-left:220px;font-size:50px;font-family: 'Francois One', sans-serif;}

@media (max-width: 576px) {
 .hdr{font-size:25px;margin-left:30px;
  }
}


.hdr2{color:white;margin-top:150px;font-size:60px;font-family: 'Francois One', sans-serif;margin-left:40%;}

@media (max-width: 576px) {
 .hdr2{font-size:25px;margin-left:40%;
  }
}


	 

.lm{background-image: url(images/bu2.jpg);background-attachment: fixed; background-size: cover; background-position: center center;height:460px;}

.km{background-image: url(images/bonn.jpg); background-attachment: fixed; background-size: cover; background-position: center center;height:460px;}

.jm{background-image: url(images/sld1.jpg);background-attachment: fixed; background-size: cover; background-position: center center;height:460px;}

.effect{background-image: url(images/c1.jpg); background-attachment: fixed; background-size: cover; background-position: center center;height:260px}

.effect2{background-image: url(images/banner-1.jpg); background-attachment: fixed; background-size: cover; background-position: center center;}

.ujjawal{background-image: url(images/c1.jpg);}
i{color:#d9371e;}


.banner0{width:100%;height:350px;float:left;}
.banner0 img{width:100%;vertical-align:middle;height:350px;}

h2{animation:type 4s steps(18);
overflow:hidden;
white-space:nowrap;
border-right:4px solid white;
width:18ch;

font-size:60px;
}
@keyframes type{
	0%{width:0ch;
	}