*{margin: 0; padding: 0;}
img{width: 100%;}
.full-h{height: 100vh;}
.fluid-v{height: 100% !important;}
p{font-size: 0.9rem;}
i{color: #F7C61B;}
.position-top{position: absolute; top: 0; z-index: 1;}
.position-bottom{position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%);}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F7C61B;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #F7C61B;
}
button:focus {
    outline: 0px dotted;
    outline: 5px auto transparent;
}
button:hover {
    box-shadow: 0 0 0px grey !important;
}

.toggle{font-size: 1.4rem;}

/*utilities*/
.bg-shades{background-color: #F2F2F2;}
.bg-shades2{background-color: #F8F8F8;}
.logo-bg{background-color: #F7C61B;}
.navbar-light .navbar-nav .nav-link {
    color: #ddd;
    font-weight: 400;
}
.opac-3{background-color: rgba(0,0,0,0.3);}

.text-white-75 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.bg-black{background: #000;}
button	{transition: 0.6s;}
 button:hover {box-shadow: 0 0 5px grey;}

/*	scrollbar 	*/
::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-track {
    background: none;
    width: 
}
 
::-webkit-scrollbar-thumb {
  background-color: #F7C61B;
  outline: 1px solid slategrey;
}

.check-room input{width: 100%; border:none; outline: none; padding: 0.3rem; border-radius: 5px; background:rgba(0,0,0,0.8); border:1px solid; color: rgba(255,255,255,0.5); border-color: transparent;}
.check-room input:focus{border: 1px solid #F7C61B;}
.check-room input[type="submit"]{background:#F7C61B; cursor: pointer; color: #fff; border:none;}
.slider-content{position:absolute; top: 50%; left: 50%; transform:translate(-50%,-50%);}
.mid-one
{
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0.6),rgba(255,192,7,0.3)), url(../images/background.gif);
}
.over{position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: 0.3s; display: flex; align-items: center; justify-content: center;}
.over:hover{background: rgba(0,0,0,0.9); opacity: 1;}
.over:hover img{opacity: 0.5;}
.news{border-radius: 2px; padding: 6px 10px; border:none; outline: none; border: 1px solid transparent; font-size: 0.9rem;}
.btn:focus{
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.fa-facebook-f:hover{color: #3b5998 !important;}
.fa-instagram:hover{color: #D03092 !important;}
.fa-youtube:hover{color: #C80000 !important;}
.fa-pinterest:hover{color: #c8232c !important;}

#top{position: fixed; bottom: 1rem; right: 1rem; background: #F7C61B; padding: 0.5rem 0.8rem; border-radius: 50%; cursor: pointer; z-index: 1; display: none;}

.news-container,.mid-one,.slider-bg
{
	background-attachment: fixed;
	background-size: cover;
  background-position: center;
}
.news-container
{
	background-image: linear-gradient(rgba(255,192,7,0.3),rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(../images/background.gif);
}
.slider-bg{
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6),rgba(255,192,7,0.8)), url(../images/background.gif); width: 100%; padding: 150px 0;
}

/*	Rooms page	*/
.room-service{
	display: flex; justify-content:space-around;
	font-size: 0.8rem;
}
.room-service i{
	padding: 0.4rem;
}

/*  services page  */
.clip{
  -webkit-clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0% 100%);
clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0% 100%);
}
.clip div{box-shadow: 0px 0px 7px 0px #F7C61B; transition: 0.5s;}
.clip div:hover{box-shadow: 0px 0px 7px 0px grey;}
.clip a{text-decoration: none; color: #808080;}
.clip a:hover{color: #383838;}

/*  booking   */
.booking input,select,textarea{width: 100%; padding: 0.3rem 0.5rem; border:1px solid #E2E2E2; outline: none; margin-bottom: 0.5rem; margin-top: 0.2rem; border-radius: 2px;}
.booking input,select, button, span,textarea{font-size: 0.8rem !important;}
.booking span{font-weight: 500;}
.booking select:focus, option:focus, textarea:focus, input:focus{border: 1px solid #F7C61B; box-shadow: 0 0 2px 0px #F7C61B;}
.booking span{ margin-left: 0.5rem;}
.btn{border-radius: 2px !important;}

/* contact  */
.contact input{margin-bottom: 1.5rem;}
.contact textarea{height: 140px;}
/* media tab-size*/
@media (max-width: 992px) {
  .h4-md{font-size: 1.2rem;}
  .bg-md-black{background: #000; z-index: 9 !important;}
}

@media (max-width: 767px){
  .check-room{position: static !important; left: 0; transform:translateX(0); background:rgba(0,0,0,0); color: black !important; }
 .slider-content{position:absolute; bottom: 0%; left: 50%; transform:translate(-50%,-35%);}
.slider-content h3{font-size: 1.3rem;}
.slider-content p{font-size: 0.7rem;}
}