*{margin:0;padding:0;}

/*--------------------------------------INDEX start----------------------------------------*/


.margn_tp{margin-top:70px;}


		
		
/*		
.transform{width:100%; height:100%;  position:absolute; left:0; top:0; background-color:rgba(0,0,0,0); 
           color:rgba(255,255,255,0);}
     .transform h3{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); font-family:Roboto-Bold;}
         .transform:hover{background-color:rgba(0,0,0,0.6); color:rgba(255,255,255,1); }		
		*/

.doctext{position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,0);
		left:0;top:0; color:rgba(255,255,255,0);transition:all 2s;overflow:hidden;}
.doctext h3{position:absolute; top:50%;left:50%;transform:translate(-50%,-50%);}
.docimg{position:relative; width:100%; height:100%;}
.doctext:hover{position:absolute;color:rgba(255,255,255,1);background-color:rgba(0,0,0,0.5);}		
		
		
		
		
/*------------ image effect ---------------*/

.effect1{
	position:relative;
	width:300px;
	height:300px;
	display:inline-block;
}	 

.image{
	display:block;
	width:300px;
	height:300px;
}

.overlay{
	position:absolute;
	transition:all 0.3s ease;
	opacity:0;
	background-color:#eee;
}

.effect1:hover .overlay{
	opacity:1;
}

.text{
	color:Blue;
	font-family:sans-serif;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:15px;
}

.leftoverlay{
	height:100%;width:0;
	top:0; left:0;
	background-color:white;
}

.effect1:hover .leftoverlay{
	width:100%;
}		
		
/*------------ image effect End ---------------*/		
		
		
@media (max-width:575.98px) {
  .tsize1{
    font-size:24px;
	
  }
}


@media (max-width:575.98px) {
  .tsize2{
    font-size:17px ;
  }
}


@media (max-width:575.98px) {
  .tcenter{
    text-align:center;margin-top:0;
  }
}

@media (max-width:575.98px) {
  .banner1{
    margin-top:110px;
	font-size:14px;
  }
}


@media (max-width:575.98px) {
  .banner2{
	font-size:14px;}
  
}


		 
		 





/*-------------------INDEX end---------------------------*/



.hovr{width:100%;position:relative;height:100%;overflow:hidden;}

.hovr img{

width:100%;height:100%;transition:all 2s;}


.textt{color:white;position:absolute;top:50%;
left:50%;transform:translate(-50%,-50%);
font-size:20px;
}
.overlap{height:100%;width:100%;background-color:rgba(0,0,0,0.5);position:absolute;transition:all 1s ;top:100%;left:0;}

 .hovr:hover .overlap{top:0px;}





/*--------------------------------  Service start  -----------------------------------*/

/*---------------------  Service End  -------------------------*/












/*--------------------------------------Specialities start----------------------------------------*/













/*--------------------------------------Contact start----------------------------------------*/